openapi: 3.1.0
info:
  title: Bancadia MCP
  version: "2.0.0"
  description: |
    A Cloudflare Worker exposing a Model Context Protocol (MCP) server over
    JSON-RPC 2.0. MCP clients query Bancadia's registry of deposit account
    products with structured filters.

    ## Transport

    This server implements the MCP **Streamable HTTP** transport
    (`2025-06-18/basic/transports`). The MCP endpoint (`/`) accepts `POST`,
    `GET`, and `DELETE`. The JSON-RPC `method` field in a `POST` body
    determines behavior — this is not a REST API with one route per resource.
    Three request methods and one notification are supported over `POST`:

    | method                     | auth required | session required | description                                     |
    |----------------------------|----------------|-------------------|--------------------------------------------------|
    | `initialize`               | no             | no (issues one)   | MCP lifecycle handshake — protocol/capability negotiation. |
    | `tools/list`               | no             | yes                | Returns the manifest of callable tools.          |
    | `tools/call`               | yes (Bearer)   | yes                | Invokes a tool by name with arguments.            |
    | `notifications/initialized` | n/a           | yes                | Client→server notification sent after `initialize`; any request omitting `id` is treated the same way (see below). |

    Any other `method` value, or an unrecognized tool `name` passed to
    `tools/call`, returns a JSON-RPC error with HTTP status `404`.

    ## Session management

    A successful `initialize` call issues an `Mcp-Session-Id` response
    header. Every subsequent request on the MCP endpoint — `POST` (for any
    method other than `initialize`), `GET`, and `DELETE` — must echo that
    header back. A missing header returns `400`; a header the server doesn't
    recognize (unknown or expired) returns `404`, and the client is expected
    to `initialize` again to obtain a new session. Sessions idle-expire in
    server-side storage (sliding TTL, refreshed on every valid request); this
    governs how long a client can pause between calls, not how long any
    connection is held open. `DELETE /` with a valid `Mcp-Session-Id`
    terminates that session immediately (`204`). This session requirement is
    layered on top of, not a replacement for, the existing bearer-token
    authorization on `tools/call`.

    ## POST response mode

    For any `POST` carrying a JSON-RPC request, the server responds in one of
    two content types, chosen per-request based on whether the client's
    `Accept` header includes `text/event-stream`:

    - **`application/json`** (default / no `text/event-stream` in `Accept`):
      a single JSON-RPC response object, as shown in the examples below.
    - **`text/event-stream`**: opens an SSE stream on the same response and
      writes exactly one `message` event — whose `data` is the identical
      JSON-RPC response object shown in the `application/json` examples —
      then closes the stream. No tool in this deployment emits intermediate
      progress notifications, so the two modes carry the same payload; SSE
      mode exists for client libraries that always negotiate for
      `text/event-stream`.

    HTTP-level errors (`400`, `401`, `404`, `429`) are always plain
    `application/json`, regardless of `Accept` — there's nothing to stream
    for a rejected request.

    ## GET — standalone SSE stream

    `GET /` with `Accept: text/event-stream` and a valid `Mcp-Session-Id`
    opens an SSE stream for server-initiated messages. No tool in this
    deployment sends any today, so in practice this is a minimal
    spec-compliant stream: periodic keep-alive `ping` events, self-closed
    after roughly 60 seconds so a compliant client reconnects rather than the
    connection being held open indefinitely. `GET` without
    `Accept: text/event-stream` returns `405`.

    Calling `initialize` before `tools/list`/`tools/call` is required as of
    this transport version — both now require a valid `Mcp-Session-Id`,
    which only `initialize` can issue.

    ## Notifications

    Per JSON-RPC 2.0, a request that omits `id` entirely is a *notification*
    and never receives a response body — the server acknowledges it with an
    empty HTTP `202`. This applies generically to any id-less request, not
    just `notifications/initialized` specifically (e.g. `notifications/cancelled`
    is handled the same way).

    ## Authentication

    `tools/call` requires `Authorization: Bearer <api-token>`. Tokens are
    obtained by registering at bancadia.com/developer/signup. Missing,
    malformed (no `Bearer` prefix), or revoked/unknown tokens all return
    HTTP `401` with JSON-RPC error code `-32001`.

    ## Origin validation

    Per the Streamable HTTP transport's DNS-rebinding guidance, requests
    carrying an `Origin` header are only accepted if that origin is on a
    server-side allowlist; requests with no `Origin` header (the normal case
    for non-browser MCP clients — SDKs, CLIs, `curl`) are always accepted.
    A disallowed `Origin` returns `403`.

    ## Rate limiting

    Successful `tools/call` requests are subject to a per-token sliding-window
    rate limit (default: 100 requests / 60s, configurable server-side).
    `X-RateLimit-*` response headers are present on every `tools/call`
    response (success or rate-limited) — never on `tools/list`, `/health`, or
    `/.well-known/mcp`, since only `tools/call` is rate-limited. Exceeding the
    limit returns HTTP `429` with JSON-RPC error code `-32029`.

    ## Result encoding

    Per the MCP spec, `tools/call` results are wrapped in a
    `content: [{ type: "text", text: "<json-string>" }]` block rather than
    returned as native JSON — `text` is a JSON-encoded string that the client
    must `JSON.parse()` to obtain the actual array of results
    (see `BusinessCheckingResult`).

    ## Available tools

    Two tools are currently routed:

    - **`query_business_checking`** — broad, filterable list query over active
      business checking listings. Returns every matching listing at a
      moderate level of detail (see `BusinessCheckingResult`) — deliberately
      excludes the two potentially-unbounded one-to-many fee/feature tables to
      keep a multi-listing response bounded in size.
    - **`get_business_checking_listing`** — point lookup for one listing by
      its `listing_slug` (as returned by `query_business_checking`), for
      follow-up questions that need more depth than the list tool provides.
      Returns the same fields as `BusinessCheckingResult` plus
      `general_fees` and `general_features` (see `BusinessCheckingDetailResult`).
      Fees/features scoped to one plan tier (e.g. a Standard/Plus/Premier
      ladder) are nested under that tier in `plan_tiers[]` instead of in the
      general arrays. Empty array (not an error) if the slug doesn't match an
      active listing.

    Several other tool names (`query_hysa`, `query_personal_savings`,
    `query_personal_checking`, `query_personal_cd`, `query_business_savings`,
    `query_business_cd`) existed historically and are retained in
    `bancadia-mcp`'s source for a future cleanup pass, but are not reachable —
    calling any of them returns the `-32601 Unknown tool` error, and none
    appear in `tools/list` or `/.well-known/mcp`.

servers:
  - url: https://mcp.bancadia.com
    description: Production
  - url: http://localhost:8787
    description: Local development (wrangler dev)

tags:
  - name: Discovery
    description: Unauthenticated endpoints for health checks and MCP discovery.
  - name: MCP
    description: The JSON-RPC 2.0 endpoint used for tool discovery and invocation.

security:
  - {}

paths:
  /health:
    get:
      tags: [Discovery]
      summary: Health check
      operationId: getHealth
      security: []
      responses:
        "200":
          description: The worker is up.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [ok]
              example:
                status: ok

  /.well-known/mcp:
    get:
      tags: [Discovery]
      summary: Public MCP discovery document
      description: >-
        Unauthenticated discovery endpoint. Advertises the JSON-RPC endpoint
        URL and a summary (name + description only, no `inputSchema`) of every
        currently-routed tool.
      operationId: getWellKnownMcp
      security: []
      responses:
        "200":
          description: Discovery document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WellKnownMcpResponse"
              example:
                name: Bancadia MCP
                version: "2.0.0"
                endpoint: https://mcp.bancadia.com
                tools_list: https://mcp.bancadia.com/
                tools:
                  - name: query_business_checking
                    description: >-
                      Query the Bancadia registry for business checking
                      account products using compound filter criteria.
                      Returns active, verified listings from financial
                      institutions.
                  - name: get_business_checking_listing
                    description: >-
                      Get full detail on one specific business checking
                      listing, including gotcha fees (business_deposit_fees,
                      e.g. overdraft, NSF, dormancy) and feature narrative
                      (business_deposit_account_features) not returned by
                      query_business_checking's broad list results.
                      Fees/features that apply to only one plan tier (e.g. a
                      Standard/Plus/Premier ladder) are nested under that tier
                      in plan_tiers[].fees / plan_tiers[].features;
                      tier-agnostic ones are in the top-level general_fees /
                      general_features. Use this as a follow-up after
                      query_business_checking to dig deeper on one listing the
                      caller already identified by its listing_slug.

  /:
    post:
      tags: [MCP]
      summary: JSON-RPC 2.0 endpoint (initialize, tools/list, tools/call, notifications)
      operationId: postJsonRpc
      security:
        - bearerAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/OriginHeader"
        - $ref: "#/components/parameters/McpSessionIdHeader"
        - $ref: "#/components/parameters/McpProtocolVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: >-
                A discriminator is deliberately not declared here: three of
                these branches key off distinct `method` string constants
                (`initialize`, `tools/list`, `tools/call`), but
                `JsonRpcNotification` accepts any `method` value (e.g.
                `notifications/initialized`, `notifications/cancelled`), which
                isn't expressible as a discriminator mapping.
              oneOf:
                - $ref: "#/components/schemas/InitializeRequest"
                - $ref: "#/components/schemas/ToolsListRequest"
                - $ref: "#/components/schemas/ToolsCallRequest"
                - $ref: "#/components/schemas/JsonRpcNotification"
            examples:
              initialize:
                summary: initialize — MCP lifecycle handshake, no auth required
                value:
                  jsonrpc: "2.0"
                  id: 0
                  method: initialize
                  params:
                    protocolVersion: "2025-06-18"
                    capabilities: {}
                    clientInfo:
                      name: example-client
                      version: "1.0.0"
              initialized:
                summary: notifications/initialized — sent after a successful initialize response
                value:
                  jsonrpc: "2.0"
                  method: notifications/initialized
              toolsList:
                summary: tools/list — no auth required
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: tools/list
              toolsCall:
                summary: tools/call — query_business_checking
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: tools/call
                  params:
                    name: query_business_checking
                    arguments:
                      monthly_fee_max: 0
                      rtp_supported: true
                      rtp_network: both
                      accounting_integration_available: true
                      entity_types_accepted: [llc, s_corp]
                      available_states: [CA, NY]
              toolsCallDetail:
                summary: tools/call — get_business_checking_listing
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: tools/call
                  params:
                    name: get_business_checking_listing
                    arguments:
                      listing_slug: found-business-checking
      responses:
        "200":
          description: >-
            Success. Body shape depends on the request's `method` — see the
            `oneOf` schema and per-method examples. Content type is
            `application/json` or `text/event-stream` depending on the
            request's `Accept` header (see "POST response mode" above); in
            SSE mode the identical JSON-RPC object is delivered as the `data`
            of a single `message` event.
          headers:
            Mcp-Session-Id:
              $ref: "#/components/headers/Mcp-Session-Id"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/InitializeResponse"
                  - $ref: "#/components/schemas/ToolsListResponse"
                  - $ref: "#/components/schemas/ToolsCallResponse"
              examples:
                initialize:
                  summary: initialize response
                  value:
                    jsonrpc: "2.0"
                    id: 0
                    result:
                      protocolVersion: "2025-06-18"
                      capabilities:
                        tools: {}
                      serverInfo:
                        name: Bancadia MCP
                        version: "2.0.0"
                toolsList:
                  summary: tools/list response
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    result:
                      tools:
                        - name: query_business_checking
                          description: >-
                            Query the Bancadia registry for business checking
                            account products using compound filter criteria.
                            Returns active, verified listings from financial
                            institutions.
                          inputSchema:
                            type: object
                            properties:
                              monthly_fee_max: { type: number, description: "Maximum monthly fee" }
                              minimum_opening_deposit_max: { type: number, description: "Maximum minimum opening deposit" }
                              entity_types_accepted:
                                type: array
                                items: { type: string }
                                description: "Returns listings accepting all specified entity types (e.g. llc, s_corp)"
                              available_states:
                                type: array
                                items: { type: string }
                                description: "Returns listings available in all specified states"
                              insurance_type:
                                type: string
                                enum: [fdic, ncua, uninsured]
                                description: "Deposit insurance type"
                              cash_deposit_available: { type: boolean, description: "Whether cash deposits are supported" }
                              sub_accounts_supported: { type: boolean, description: "Whether sub-accounts are supported" }
                              free_transactions_min: { type: number, description: "Minimum free transactions per month" }
                              rtp_supported: { type: boolean, description: "Whether real-time payments (any rail) are supported at all" }
                              rtp_network:
                                type: string
                                enum: [fednow, rtp_network, both, none]
                                description: "Which real-time payment rail is supported"
                              accounting_integration_available: { type: boolean, description: "Whether the account connects to any accounting software (e.g. QuickBooks, Xero)" }
                              tax_integration_available: { type: boolean, description: "Whether the account connects to any tax-prep or tax-filing software/service" }
                              expense_integration_available: { type: boolean, description: "Whether the account connects to any expense/spend-management software" }
                              interest_bearing: { type: boolean, description: "Whether the account earns interest" }
                              apy_min: { type: number, description: "Minimum APY (inclusive), for interest-bearing accounts" }
                            additionalProperties: false
                        - name: get_business_checking_listing
                          description: >-
                            Get full detail on one specific business checking
                            listing, including gotcha fees
                            (business_deposit_fees, e.g. overdraft, NSF,
                            dormancy) and feature narrative
                            (business_deposit_account_features) not returned
                            by query_business_checking's broad list results.
                            Use this as a follow-up after
                            query_business_checking to dig deeper on one
                            listing the caller already identified by its
                            listing_slug.
                          inputSchema:
                            type: object
                            properties:
                              listing_slug:
                                type: string
                                description: >-
                                  The listing's stable public identifier, as
                                  returned in query_business_checking results
                                  (e.g. 'found-business-checking'). Do not use
                                  an internal database id.
                            required: [listing_slug]
                            additionalProperties: false
                toolsCall:
                  summary: tools/call response (query_business_checking) — content[0].text is a JSON-encoded string
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    result:
                      content:
                        - type: text
                          text: >-
                            [{"listing_slug":"example-bank-business-checking-pro","institution_name":"Example
                            Bank","institution":{"display_name":"Example
                            Bank","website_url":"https://examplebank.com","logo_url":"https://examplebank.com/logo.png","institution_type":"regional_bank","support_email":"support@examplebank.com"},"product_name":"Business
                            Checking Pro","monthly_fee":0,"monthly_fee_waiver_condition":null,"minimum_opening_deposit":0,"entity_types_accepted":["llc","s_corp"],"available_states":["ALL"],"insurance_type":"fdic","free_transactions_per_month":100,"cash_deposit_available":true,"cash_deposit_fee_per_100":2.5,"monthly_cash_deposit_limit":5000,"sub_accounts_supported":true,"rtp_supported":true,"rtp_network":"both","accounting_integration_available":true,"tax_integration_available":false,"expense_integration_available":true,"interest_bearing":true,"apy":1.25,"apy_tiers":null,"outgoing_domestic_wire_fee":15,"incoming_domestic_wire_fee":0,"outgoing_international_wire_fee":45,"incoming_international_wire_fee":15,"multicurrency_support":false,"free_domestic_wires_per_month":2,"per_transaction_fee_after_limit":0.5,"atm_fee_reimbursement":true,"atm_fee_reimbursement_limit":10,"atm_network":"Allpoint","overdraft_protection_available":true,"overdraft_line_of_credit_available":false,"daily_debit_limit":5000,"ach_debit_block_available":true,"positive_pay_available":true,"remote_deposit_capture":true,"bill_pay_available":true,"check_writing_available":true,"corporate_card_available":true,"virtual_cards_available":true,"physical_debit_card_available":true,"plan_tiers":[{"plan_name":"Standard","monthly_fee":0,"monthly_fee_waiver_condition":null,"apy":1.25,"apy_max_balance_eligible":null,"apy_condition":null,"is_default":true,"sort_order":0}],"promotions":[{"bonus_amount":300,"condition_description":"Deposit
                            $2,500 within 30
                            days","minimum_deposit":2500,"expiry_date":null,"promo_url":"https://example.com/promo"}],"application_url":"https://example.com/apply","last_modified":"2026-01-01T00:00:00Z","is_verified":true}]
                toolsCallDetail:
                  summary: tools/call response (get_business_checking_listing) — adds general_fees, general_features, and per-tier plan_tiers[].fees/features
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    result:
                      content:
                        - type: text
                          text: >-
                            [{"listing_slug":"example-bank-business-checking-pro","institution_name":"Example
                            Bank","institution":{"display_name":"Example
                            Bank","website_url":"https://examplebank.com","logo_url":"https://examplebank.com/logo.png","institution_type":"regional_bank","support_email":"support@examplebank.com"},"product_name":"Business
                            Checking
                            Pro","monthly_fee":0,"monthly_fee_waiver_condition":null,"minimum_opening_deposit":0,"entity_types_accepted":["llc","s_corp"],"available_states":["ALL"],"insurance_type":"fdic","free_transactions_per_month":100,"cash_deposit_available":true,"cash_deposit_fee_per_100":2.5,"monthly_cash_deposit_limit":5000,"sub_accounts_supported":true,"rtp_supported":true,"rtp_network":"both","accounting_integration_available":true,"tax_integration_available":false,"expense_integration_available":true,"interest_bearing":true,"apy":1.25,"apy_tiers":null,"outgoing_domestic_wire_fee":15,"incoming_domestic_wire_fee":0,"outgoing_international_wire_fee":45,"incoming_international_wire_fee":15,"multicurrency_support":false,"free_domestic_wires_per_month":2,"per_transaction_fee_after_limit":0.5,"atm_fee_reimbursement":true,"atm_fee_reimbursement_limit":10,"atm_network":"Allpoint","overdraft_protection_available":true,"overdraft_line_of_credit_available":false,"daily_debit_limit":5000,"ach_debit_block_available":true,"positive_pay_available":true,"remote_deposit_capture":true,"bill_pay_available":true,"check_writing_available":true,"corporate_card_available":true,"virtual_cards_available":true,"physical_debit_card_available":true,"plan_tiers":[{"plan_name":"Standard","monthly_fee":0,"monthly_fee_waiver_condition":null,"apy":1.25,"apy_max_balance_eligible":null,"apy_condition":null,"is_default":true,"sort_order":0,"features":[],"fees":[]},{"plan_name":"Plus","monthly_fee":15,"monthly_fee_waiver_condition":"Waived
                            with $10,000 average daily
                            balance","apy":1.75,"apy_max_balance_eligible":null,"apy_condition":null,"is_default":false,"sort_order":1,"features":[{"category":"account_management","description":"Maximum
                            number of sub-accounts included with this
                            plan.","value":10}],"fees":[]}],"promotions":[{"bonus_amount":300,"condition_description":"Deposit
                            $2,500 within 30
                            days","minimum_deposit":2500,"expiry_date":null,"promo_url":"https://example.com/promo"}],"application_url":"https://example.com/apply","last_modified":"2026-01-01T00:00:00Z","is_verified":true,"general_fees":[{"fee_type":"overdraft","amount":35,"amount_description":null,"eligibility_criteria":null,"tiers":null,"waivable":false,"waiver_condition":null}],"general_features":[{"category":"cash_handling","description":"Free
                            cash deposits up to $2,000/mo","value":2000},{"category":"fraud_protection","description":"Instant
                            card freeze","value":null}]}]
            text/event-stream:
              schema:
                type: string
                description: >-
                  A single `message` event whose `data` is one of the
                  JSON-RPC response objects shown under `application/json`
                  above, e.g.:

                  ```
                  event: message
                  data: {"jsonrpc":"2.0","id":1,"result":{"tools":[...]}}

                  ```
        "202":
          description: >-
            The request was a JSON-RPC notification (no `id` field) — per
            JSON-RPC 2.0, notifications never receive a response body. Applies
            to `notifications/initialized` and any other id-less request.
            Requires a valid `Mcp-Session-Id` the same as any other
            non-`initialize` request; an invalid one on a notification
            returns the corresponding `400`/`404` with no body instead.
        "400":
          description: >-
            Missing `Mcp-Session-Id` header on a request other than
            `initialize`, or an unsupported `MCP-Protocol-Version` header.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcErrorResponse"
              example:
                jsonrpc: "2.0"
                id: 1
                error:
                  code: -32600
                  message: "Missing Mcp-Session-Id header."
        "403":
          description: The `Origin` header is present but not on the allowlist.
        "401":
          description: >-
            Unauthorized. Returned for `tools/call` when the `Authorization`
            header is missing, malformed, or carries an unknown/revoked token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcErrorResponse"
              example:
                jsonrpc: "2.0"
                id: 1
                error:
                  code: -32001
                  message: >-
                    Unauthorized. Register at bancadia.com/developer/signup
                    to obtain an API token.
        "404":
          description: >-
            Three cases: the top-level `method` is not `tools/list` or
            `tools/call` (`-32601`), `tools/call`'s `params.name` does not
            match a routed tool (`-32601`), or the `Mcp-Session-Id` header
            doesn't match a known, unexpired session (`-32600`) — in the
            latter case the client should send a new `initialize` request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcErrorResponse"
              examples:
                unknownTool:
                  summary: Unknown/unrouted tool name
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    error:
                      code: -32601
                      message: "Unknown tool: query_hysa"
                unknownMethod:
                  summary: Unrecognized top-level method
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    error:
                      code: -32601
                      message: "Method not found: notifications/foo"
                unknownSession:
                  summary: Unrecognized or expired Mcp-Session-Id
                  value:
                    jsonrpc: "2.0"
                    id: 1
                    error:
                      code: -32600
                      message: "Session not found or expired. Re-initialize."
        "429":
          description: Per-token rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcErrorResponse"
              example:
                jsonrpc: "2.0"
                id: 1
                error:
                  code: -32029
                  message: "Rate limit exceeded."

    get:
      tags: [MCP]
      summary: Standalone SSE stream for server-initiated messages
      description: >-
        Opens an SSE stream for messages not tied to a specific `POST`
        request (e.g. future sampling requests or notifications). No tool in
        this deployment sends any today, so this is a minimal
        spec-compliant stream: periodic keep-alive `ping` events, self-closed
        after roughly 60 seconds so a compliant client reconnects.
      operationId: getMcpStream
      security: []
      parameters:
        - $ref: "#/components/parameters/OriginHeader"
        - $ref: "#/components/parameters/McpSessionIdHeader"
      responses:
        "200":
          description: >-
            SSE stream of keep-alive `ping` events. No JSON-RPC response is
            ever sent on this stream — it never carries the reply to a
            specific request.
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  event: ping
                  data:

        "400":
          description: Missing `Mcp-Session-Id` header.
        "403":
          description: The `Origin` header is present but not on the allowlist.
        "404":
          description: The `Mcp-Session-Id` doesn't match a known, unexpired session.
        "405":
          description: The request's `Accept` header does not include `text/event-stream`.

    delete:
      tags: [MCP]
      summary: Terminate a session
      operationId: deleteMcpSession
      security: []
      parameters:
        - $ref: "#/components/parameters/OriginHeader"
        - $ref: "#/components/parameters/McpSessionIdHeader"
      responses:
        "204":
          description: The session was terminated.
        "400":
          description: Missing `Mcp-Session-Id` header.
        "403":
          description: The `Origin` header is present but not on the allowlist.
        "404":
          description: The `Mcp-Session-Id` doesn't match a known, unexpired session.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Required only for `tools/call`. Obtain a token at
        bancadia.com/developer/signup.

  parameters:
    McpSessionIdHeader:
      name: Mcp-Session-Id
      in: header
      required: false
      description: >-
        Required on every MCP-endpoint request except `initialize` (which
        issues one via the response header of the same name). Missing
        returns `400`; a value the server doesn't recognize (unknown or
        expired) returns `404`, and the client should `initialize` again.
      schema:
        type: string
    McpProtocolVersionHeader:
      name: MCP-Protocol-Version
      in: header
      required: false
      description: >-
        Optional. If present, must be one of this server's supported
        protocol versions (`2025-06-18`, `2025-03-26`, `2024-11-05`) or the
        request is rejected with `400`. If absent, the version negotiated at
        `initialize` for this session is used.
      schema:
        type: string
        example: "2025-06-18"
    OriginHeader:
      name: Origin
      in: header
      required: false
      description: >-
        If present, must be on the server-side allowlist or the request is
        rejected with `403` (DNS-rebinding protection). Requests with no
        `Origin` header — the normal case for non-browser MCP clients — are
        always accepted.
      schema:
        type: string

  headers:
    Mcp-Session-Id:
      description: >-
        Present on a successful `initialize` response. Echo this back on
        every subsequent MCP-endpoint request.
      schema: { type: string }
    X-RateLimit-Limit:
      description: Max requests allowed in the current sliding window.
      schema: { type: integer, example: 100 }
    X-RateLimit-Remaining:
      description: Requests remaining in the current sliding window.
      schema: { type: integer, example: 99 }
    X-RateLimit-Reset:
      description: Unix timestamp (seconds) when the window resets.
      schema: { type: integer, example: 1768598400 }

  schemas:
    JsonRpcId:
      description: Echoed back verbatim from the request; not validated server-side.
      oneOf:
        - type: string
        - type: integer
        - type: "null"

    JsonRpcRequestBase:
      type: object
      required: [jsonrpc, id, method]
      properties:
        jsonrpc:
          type: string
          const: "2.0"
        id:
          $ref: "#/components/schemas/JsonRpcId"
        method:
          type: string

    JsonRpcNotification:
      type: object
      description: >-
        A JSON-RPC 2.0 notification: any request that omits `id` entirely
        (not merely `id: null`). Never receives a response body — the server
        acknowledges with an empty HTTP 202 regardless of `method`.
        `notifications/initialized` (sent after a successful `initialize`
        response) is the one this server expects in practice, but any id-less
        request is handled identically.
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          const: "2.0"
        method:
          type: string
          example: notifications/initialized
        params:
          type: object

    InitializeRequest:
      allOf:
        - $ref: "#/components/schemas/JsonRpcRequestBase"
        - type: object
          required: [params]
          properties:
            method:
              type: string
              const: initialize
            params:
              type: object
              required: [protocolVersion, capabilities]
              properties:
                protocolVersion:
                  type: string
                  description: >-
                    The client's preferred MCP protocol version. If not one of
                    this server's supported versions, the response falls back
                    to the latest version this server supports rather than
                    rejecting the request.
                  example: "2025-06-18"
                capabilities:
                  type: object
                  description: Client capabilities. Not inspected by this server.
                clientInfo:
                  type: object
                  properties:
                    name: { type: string }
                    version: { type: string }

    ToolsListRequest:
      allOf:
        - $ref: "#/components/schemas/JsonRpcRequestBase"
        - type: object
          properties:
            method:
              type: string
              const: tools/list

    ToolsCallRequest:
      allOf:
        - $ref: "#/components/schemas/JsonRpcRequestBase"
        - type: object
          required: [params]
          properties:
            method:
              type: string
              const: tools/call
            params:
              $ref: "#/components/schemas/ToolsCallParams"

    ToolsCallParams:
      type: object
      required: [name]
      properties:
        name:
          type: string
          description: >-
            Only these two tools are currently routed; any other value
            returns the `-32601 Unknown tool` error.
          enum: [query_business_checking, get_business_checking_listing]
        arguments:
          description: >-
            Shape depends on `name` — `BusinessCheckingQueryArguments` for
            `query_business_checking`, `GetBusinessCheckingListingArguments`
            for `get_business_checking_listing`. Not expressed as a
            discriminated `oneOf` here since both branches key off the
            sibling `name` field rather than a property on `arguments`
            itself.
          oneOf:
            - $ref: "#/components/schemas/BusinessCheckingQueryArguments"
            - $ref: "#/components/schemas/GetBusinessCheckingListingArguments"

    BusinessCheckingQueryArguments:
      type: object
      additionalProperties: false
      description: >-
        All filters are optional and combine with AND semantics. Array
        filters (`entity_types_accepted`, `available_states`) require every
        requested value to be present on a listing (not "any of").
      properties:
        monthly_fee_max:
          type: number
          description: Maximum monthly fee.
        minimum_opening_deposit_max:
          type: number
          description: Maximum minimum opening deposit.
        entity_types_accepted:
          type: array
          items:
            type: string
          description: >-
            Returns listings accepting all specified entity types. Valid
            values (from `entity_type_enum`): llc, s_corp, c_corp, sole_prop,
            partnership, nonprofit. Not enforced server-side — unrecognized
            values simply never match.
        available_states:
          type: array
          items:
            type: string
          description: >-
            Returns listings available in all specified states. A listing
            whose `available_states` includes the literal value `ALL` always
            matches, regardless of which states are requested.
        insurance_type:
          type: string
          enum: [fdic, ncua, uninsured]
          description: Deposit insurance type.
        cash_deposit_available:
          type: boolean
          description: Whether cash deposits are supported.
        sub_accounts_supported:
          type: boolean
          description: Whether sub-accounts are supported.
        free_transactions_min:
          type: number
          description: Minimum free transactions per month.
        rtp_supported:
          type: boolean
          description: Whether real-time payments (any rail) are supported at all.
        rtp_network:
          type: string
          enum: [fednow, rtp_network, both, none]
          description: Which real-time payment rail is supported.
        accounting_integration_available:
          type: boolean
          description: >-
            Whether the account connects to any accounting software (e.g.
            QuickBooks, Xero). Category-level only — the specific product(s)
            are not filterable.
        tax_integration_available:
          type: boolean
          description: Whether the account connects to any tax-prep or tax-filing software/service.
        expense_integration_available:
          type: boolean
          description: Whether the account connects to any expense/spend-management software.
        interest_bearing:
          type: boolean
          description: Whether the account earns interest.
        apy_min:
          type: number
          description: Minimum APY (inclusive), for interest-bearing accounts.

    GetBusinessCheckingListingArguments:
      type: object
      additionalProperties: false
      required: [listing_slug]
      properties:
        listing_slug:
          type: string
          description: >-
            The listing's stable public identifier, as returned in
            `query_business_checking` results (e.g.
            `found-business-checking`). Not the internal database `id` — that
            is deliberately never exposed in tool responses.

    Tool:
      type: object
      required: [name, description, inputSchema]
      properties:
        name:
          type: string
        description:
          type: string
        inputSchema:
          type: object
          description: JSON Schema describing this tool's `arguments` object.

    WellKnownMcpResponse:
      type: object
      required: [name, version, endpoint, tools_list, tools]
      properties:
        name:
          type: string
        version:
          type: string
        endpoint:
          type: string
          format: uri
        tools_list:
          type: string
          format: uri
        tools:
          type: array
          items:
            type: object
            required: [name, description]
            properties:
              name: { type: string }
              description: { type: string }

    InitializeResponse:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { $ref: "#/components/schemas/JsonRpcId" }
        result:
          type: object
          required: [protocolVersion, capabilities, serverInfo]
          properties:
            protocolVersion:
              type: string
              description: >-
                The negotiated version — the client's requested version if
                this server supports it, otherwise this server's latest
                supported version.
              example: "2025-06-18"
            capabilities:
              type: object
              description: >-
                This server only advertises the `tools` capability (no
                `resources`, `prompts`, `logging`, or `sampling`), and does not
                support `tools.listChanged` notifications — the tool set is
                static per deployment.
              properties:
                tools:
                  type: object
            serverInfo:
              type: object
              required: [name, version]
              properties:
                name: { type: string, example: Bancadia MCP }
                version: { type: string, example: "2.0.0" }

    ToolsListResponse:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { $ref: "#/components/schemas/JsonRpcId" }
        result:
          type: object
          required: [tools]
          properties:
            tools:
              type: array
              items:
                $ref: "#/components/schemas/Tool"

    ToolsCallResponse:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { $ref: "#/components/schemas/JsonRpcId" }
        result:
          type: object
          required: [content]
          properties:
            content:
              type: array
              minItems: 1
              maxItems: 1
              items:
                type: object
                required: [type, text]
                properties:
                  type:
                    type: string
                    const: text
                  text:
                    type: string
                    description: >-
                      JSON-encoded string. `JSON.parse(text)` yields an array
                      — of `BusinessCheckingResult` for
                      `query_business_checking`, or of
                      `BusinessCheckingDetailResult` (one element, or zero if
                      the slug didn't match) for
                      `get_business_checking_listing`. Empty array if nothing
                      matched, or if the underlying query errored — errors are
                      not surfaced to the caller.
                    contentMediaType: application/json
                    contentSchema:
                      type: array
                      items:
                        oneOf:
                          - $ref: "#/components/schemas/BusinessCheckingResult"
                          - $ref: "#/components/schemas/BusinessCheckingDetailResult"

    JsonRpcErrorResponse:
      type: object
      required: [jsonrpc, id, error]
      properties:
        jsonrpc: { type: string, const: "2.0" }
        id: { $ref: "#/components/schemas/JsonRpcId" }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
              enum: [-32600, -32001, -32029, -32601]
              description: |
                -32600: invalid/missing Mcp-Session-Id or unsupported MCP-Protocol-Version (HTTP 400 or 404)
                -32001: unauthorized (HTTP 401)
                -32029: rate limit exceeded (HTTP 429)
                -32601: unknown tool or unrecognized method (HTTP 404)
            message:
              type: string

    ApyTierRate:
      type: object
      required: [interest_rate, apy]
      properties:
        interest_rate: { type: number, description: "Decimal, e.g. 0.0130 = 1.30%" }
        apy: { type: number, description: "Decimal, e.g. 0.0130 = 1.30%" }

    ApyTiers:
      type:
        - object
        - "null"
      description: >-
        Canonical balance-tiered rate schema (bancadia-db migration 037).
        Only populated when `interest_bearing` is true and the rate varies by
        balance; null for flat-rate or non-interest accounts. The flat `apy`
        field always holds the best available rate for indexing, independent
        of this structure.
      properties:
        effective_date:
          type: string
          format: date
        relationship_condition:
          type:
            - string
            - "null"
          description: Qualifying criteria for the relationship rate, or null if none exists.
        tiers:
          type: array
          items:
            type: object
            required: [min_balance, max_balance, standard]
            properties:
              min_balance:
                type: integer
                description: Whole-dollar amount.
              max_balance:
                type:
                  - integer
                  - "null"
                description: Whole-dollar amount; null = no upper bound on this tier.
              standard:
                $ref: "#/components/schemas/ApyTierRate"
              relationship:
                allOf:
                  - $ref: "#/components/schemas/ApyTierRate"
                description: Omitted per-tier when the product has no relationship rate.

    PlanTier:
      type: object
      description: >-
        One row per paid subscription plan (e.g. a Bluevine-style
        Standard/Plus/Premier ladder) whose pricing/APY differs from the
        listing's flat default. Empty array for products with a single,
        unconditional pricing tier.
      required: [plan_name, monthly_fee, is_default, sort_order]
      properties:
        plan_name:
          type: string
        monthly_fee:
          type: number
        monthly_fee_waiver_condition:
          type:
            - string
            - "null"
        apy:
          type:
            - number
            - "null"
          description: APY on this plan, or null if this plan does not earn interest.
        apy_max_balance_eligible:
          type:
            - number
            - "null"
          description: Maximum balance eligible to earn interest on this plan; null = no cap.
        apy_condition:
          type:
            - string
            - "null"
          description: Activity/eligibility requirement to earn this plan's stated APY.
        is_default:
          type: boolean
          description: >-
            Marks the plan whose values seed the listing's flat `monthly_fee`
            / `apy` fields. At most one true per listing.
        sort_order:
          type: integer
          description: Display order, cheapest to priciest (0 = cheapest).
        features:
          type: array
          items:
            $ref: "#/components/schemas/Feature"
          description: >-
            Feature rows scoped to this plan tier only (business_deposit_account_features
            rows whose plan_tier_id matches this tier) — e.g. a sub-account
            limit or discount rate that differs per tier. Tier-agnostic
            features are returned separately in general_features. Only present
            when this PlanTier is returned by get_business_checking_listing;
            absent from query_business_checking's plan_tiers.
        fees:
          type: array
          items:
            $ref: "#/components/schemas/AdditionalFee"
          description: >-
            Fee rows scoped to this plan tier only (business_deposit_fees rows
            whose plan_tier_id matches this tier). Tier-agnostic fees are
            returned separately in general_fees. Only present when this
            PlanTier is returned by get_business_checking_listing; absent from
            query_business_checking's plan_tiers.

    Promotion:
      type: object
      description: One-to-many welcome/bonus offers for this listing. Empty array if none.
      required: [bonus_amount, condition_description]
      properties:
        bonus_amount:
          type: integer
        condition_description:
          type: string
        minimum_deposit:
          type:
            - integer
            - "null"
        expiry_date:
          type:
            - string
            - "null"
          format: date
        promo_url:
          type:
            - string
            - "null"
          format: uri

    Institution:
      type:
        - object
        - "null"
      description: >-
        Null only if the row's institution join unexpectedly failed to
        resolve; every published listing has an institution. `institution_name`
        (a sibling field on the result, not on this object) is kept as a
        top-level flat field for backward compatibility with existing
        clients — this object holds the rest of the institution's public
        profile.
      properties:
        display_name:
          type:
            - string
            - "null"
        website_url:
          type:
            - string
            - "null"
          format: uri
        logo_url:
          type:
            - string
            - "null"
          format: uri
        institution_type:
          type: string
          enum: [national_bank, regional_bank, community_bank, credit_union, neobank, fintech]
        support_email:
          type:
            - string
            - "null"
          format: email

    AdditionalFee:
      type: object
      description: >-
        One row from `business_deposit_fees`, only for `fee_type` values that
        have no dedicated flat column on `BusinessCheckingResult` (e.g.
        `overdraft`, `non_sufficient_funds`, `dormancy` — not
        `wire_domestic_outgoing` etc., which are covered by
        `outgoing_domestic_wire_fee` and friends). This split avoids the same
        fee ever being represented twice by two sources that could disagree.
        Only returned by `get_business_checking_listing`, either directly in
        `general_fees` (rows with no `plan_tier_id`) or nested in
        `plan_tiers[].fees` (rows scoped to one plan tier).
      required: [fee_type, waivable]
      properties:
        fee_type:
          type: string
          enum:
            - monthly_maintenance
            - overdraft
            - non_sufficient_funds
            - account_opening
            - account_closing
            - minimum_balance
            - excess_transaction
            - atm_foreign
            - paper_statement
            - dormancy
            - returned_item
            - stop_payment
            - card_replacement
            - foreign_transaction
            - other
        amount:
          type:
            - number
            - "null"
          description: Flat dollar amount, or null if the fee varies (see amount_description/tiers).
        amount_description:
          type:
            - string
            - "null"
          description: Free-text description for fees that aren't a flat number.
        eligibility_criteria:
          type:
            - string
            - "null"
        tiers:
          description: Tiered fee structure, shape varies by fee_type. Null if the fee is flat.
          type:
            - object
            - array
            - "null"
        waivable:
          type: boolean
        waiver_condition:
          type:
            - string
            - "null"

    Feature:
      type: object
      description: >-
        One row from `business_deposit_account_features` — narrative/marketing
        feature callouts, richer than the raw booleans on
        `BusinessCheckingResult`. Sorted by `sort_order` ascending. Only
        returned by `get_business_checking_listing`, either directly in
        `general_features` (rows with no `plan_tier_id`) or nested in
        `plan_tiers[].features` (rows scoped to one plan tier).
      required: [category, description]
      properties:
        category:
          type: string
          enum:
            - payment_rails
            - cash_handling
            - cards_and_atm
            - online_banking
            - fraud_protection
            - account_management
            - platform_integrations
            - other
        description:
          type: string
        value:
          type:
            - number
            - "null"
          description: Quantified value for this feature (e.g. a limit or count), if applicable.

    BusinessCheckingResult:
      type: object
      description: >-
        One item of the array encoded in `ToolsCallResponse.result.content[0].text`
        for `query_business_checking`. `get_business_checking_listing` returns
        the same shape plus two more fields — see `BusinessCheckingDetailResult`.
      required:
        - listing_slug
        - institution_name
        - product_name
        - monthly_fee
        - minimum_opening_deposit
        - entity_types_accepted
        - available_states
        - insurance_type
        - plan_tiers
        - promotions
        - application_url
        - last_modified
        - is_verified
      properties:
        listing_slug:
          type: string
          description: >-
            Stable public identifier for this listing. Pass this to
            get_business_checking_listing for full detail on this one
            listing. Not the internal database id.
        institution_name:
          type:
            - string
            - "null"
        institution:
          $ref: "#/components/schemas/Institution"
        product_name:
          type: string
        monthly_fee:
          type: number
        monthly_fee_waiver_condition:
          type:
            - string
            - "null"
        minimum_opening_deposit:
          type: number
        entity_types_accepted:
          type: array
          items:
            type: string
            enum: [llc, s_corp, c_corp, sole_prop, partnership, nonprofit]
        available_states:
          type: array
          items:
            type: string
          description: '`["ALL"]` indicates nationwide availability.'
        insurance_type:
          type: string
          enum: [fdic, ncua, uninsured]
        free_transactions_per_month:
          type:
            - integer
            - "null"
        cash_deposit_available:
          type:
            - boolean
            - "null"
        cash_deposit_fee_per_100:
          type:
            - number
            - "null"
          description: Fee charged per $100 deposited in cash, above monthly_cash_deposit_limit (if any).
        monthly_cash_deposit_limit:
          type:
            - number
            - "null"
          description: Amount of cash deposits per month before cash_deposit_fee_per_100 applies. Null = no limit.
        sub_accounts_supported:
          type:
            - boolean
            - "null"
        rtp_supported:
          type:
            - boolean
            - "null"
        rtp_network:
          type:
            - string
            - "null"
          enum: [fednow, rtp_network, both, none, null]
          description: Null whenever rtp_supported is false.
        accounting_integration_available:
          type:
            - boolean
            - "null"
        tax_integration_available:
          type:
            - boolean
            - "null"
        expense_integration_available:
          type:
            - boolean
            - "null"
        interest_bearing:
          type:
            - boolean
            - "null"
        apy:
          type:
            - number
            - "null"
          description: >-
            Best available APY for indexing/search — if the product has
            multiple plan tiers, this mirrors the highest APY across
            `plan_tiers`, not necessarily the default plan's APY.
        apy_tiers:
          $ref: "#/components/schemas/ApyTiers"
        outgoing_domestic_wire_fee:
          type:
            - number
            - "null"
        incoming_domestic_wire_fee:
          type:
            - number
            - "null"
        outgoing_international_wire_fee:
          type:
            - number
            - "null"
        incoming_international_wire_fee:
          type:
            - number
            - "null"
        multicurrency_support:
          type:
            - boolean
            - "null"
        free_domestic_wires_per_month:
          type:
            - number
            - "null"
        per_transaction_fee_after_limit:
          type:
            - number
            - "null"
          description: Fee per transaction once free_transactions_per_month is exceeded.
        atm_fee_reimbursement:
          type:
            - boolean
            - "null"
        atm_fee_reimbursement_limit:
          type:
            - number
            - "null"
          description: Cap on reimbursed ATM fees. Null = unlimited (when atm_fee_reimbursement is true) or not applicable.
        atm_network:
          type:
            - string
            - "null"
        overdraft_protection_available:
          type:
            - boolean
            - "null"
        overdraft_line_of_credit_available:
          type:
            - boolean
            - "null"
        daily_debit_limit:
          type:
            - number
            - "null"
        ach_debit_block_available:
          type:
            - boolean
            - "null"
        positive_pay_available:
          type:
            - boolean
            - "null"
        remote_deposit_capture:
          type:
            - boolean
            - "null"
        bill_pay_available:
          type:
            - boolean
            - "null"
        check_writing_available:
          type:
            - boolean
            - "null"
        corporate_card_available:
          type:
            - boolean
            - "null"
        virtual_cards_available:
          type:
            - boolean
            - "null"
        physical_debit_card_available:
          type:
            - boolean
            - "null"
        plan_tiers:
          type: array
          items:
            $ref: "#/components/schemas/PlanTier"
        promotions:
          type: array
          items:
            $ref: "#/components/schemas/Promotion"
        application_url:
          type: string
          format: uri
        last_modified:
          type: string
          format: date-time
        is_verified:
          type: boolean

    BusinessCheckingDetailResult:
      description: >-
        The single-element (or empty) array item returned by
        get_business_checking_listing. Same shape as BusinessCheckingResult
        plus general_fees and general_features — the two one-to-many tables
        deliberately excluded from the broad query_business_checking list
        response to keep multi-listing payloads bounded — holding only the
        rows with no plan_tier_id. Rows scoped to one plan tier are nested
        instead in this result's plan_tiers[].fees / plan_tiers[].features
        (see the PlanTier schema).
      allOf:
        - $ref: "#/components/schemas/BusinessCheckingResult"
        - type: object
          required: [general_fees, general_features]
          properties:
            general_fees:
              type: array
              items:
                $ref: "#/components/schemas/AdditionalFee"
              description: Fees with no plan_tier_id — apply account-wide, not to one specific plan tier.
            general_features:
              type: array
              items:
                $ref: "#/components/schemas/Feature"
              description: Features with no plan_tier_id — apply account-wide, not to one specific plan tier.
